.wp-block-jupa-typed-text{
   .block-editor-inner-blocks{
      .block-editor-block-list__layout{
         p:not(:first-child){
            display: none;
         }     
      }
   }
   &.has-child-selected,
   &.is-selected{
      .block-editor-inner-blocks{
         .block-editor-block-list__layout{
            p{
               display: block;
            }
         }
      }
   }
}